body{
    background: orange;
}
h1{
    text-align: center;
    font-size: 45px;
}
p{
    font-size: 30px;
}
.delete{
    margin-left: 314px;
}
.add{
    margin-left: 15px;
}
.list{
   
}
.li{
   
}